


/* Navbar style */
.navbar-toggler{
  border: none;
  cursor: pointer;
  
}

.navbar-toggler:focus{
  outline: none;
}


/* Navbar button style */
.btn-login{
    background-color: transparent;
    border-color: transparent;
    color: #B2A4FF;
    padding: 10px 20px;
    margin-left: 30px;
    font-weight: bold;
    
}

.btn-2{
    background-color: transparent;
    border-color: #B2A4FF;
    color: #B2A4FF;
    padding: 10px 20px;
    margin-left: 30px;
    font-weight: bold;
}

.btn-login:hover , .btn-signup:hover {
    background-color: #B2A4FF;
    border-color: none;
}

/* End of Navbar button style */

/* End of Navbar style */

/* welcome style */

.welcome-btn{
  background-color: #B2A4FF;
  border-color: #B2A4FF;
  color: #fff;
  padding: 10px 20px;
  margin-left: 30px;
  font-weight: bold;
}

/* end of welcome style */