


/* Navbar style */
.navbar{
  background-color: #fff;
  padding: 10px 30px  10px 30px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.navbar-toggler{
  border: none;
  cursor: pointer;
  
}

.navbar-toggler:focus{
  outline: none;
}


/* Navbar button style */
.btn-login{
    background-color: transparent;
    border-color: transparent;
    color: #9A92F3;
    font-weight: bold;
    
}

.btn-2{
    background-color: transparent;
    border-color: #9A92F3;
    color: #9A92F3;
    font-weight: bold;
}

.btn-login:hover , .btn-2:hover {
    background-color: #9A92F3;
    border-color: transparent;
}

/* End of Navbar button style */

/* End of Navbar style */

/* welcome style */

.second-btn{
  background-color: #9A92F3;
  border-color: #9A92F3;
  color: #fff;
  padding: 10px 20px;
  font-weight: bold;
}

.second-btn:hover{
  background-color: #756AB6;
  border-color: #756AB6;
}

/* end of welcome style */

/* Footer Style */

.Footer-body{
  background-color: #F1EAFF ;
  padding: 20px 30px;
}

.icon {
  color: #9A92F3;
}

.icon:hover {
  color: #756AB6;
}

footer {
  bottom: 0;
  width: 100%;
}


/* End of Footer Style */


/* hiw style section */
.hiw-btn {
  border-color: #9A92F3;
  background: none;
  color: black;
  
}

.hiw-btn:hover{
  background-color: #9A92F3;
  border-color: #9A92F3

}
