Nav.Item{
    margin-bottom: 8px;
}

card.link{
    text-Decoration: none;
    color:black;
}

button{
    background-Color: #9A92F3 ;
    border: none;

}

.btn-custom {
    background-color: #9A92F3;
    color: white;
  }
  
  .btn-custom:hover {
    background-color: #9A92F3;
  }
  